@font-face {
  font-family: Roboto;
  font-size: "48px";
  font-weight: normal;
  font-style: normal;
  src: url('./static/fonts/Roboto-Regular.ttf') format("truetype");
}

div {
  font-family: 'Roboto', sans-serif;
}

img {
  height: 24px;
  padding-right: 20px;
  padding-left: 15px;
}

.Container {
  margin-left: 20%;
  margin-right: 15%;
  justify-content: left;
  align-items: left;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 0px 20px 20px 55px; 
  min-height: 100vh;
  height: auto !important;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: auto !important;
  height: 100%;
  background-color: #f3f3f3;
  min-width: 50vh;
}

.FormContainer {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  text-align: center;
}

.LoginContainer {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 200px;
}

.BadgePills {
  padding: 1% 5% 1% 5%;
}

.LessonDiv {
  margin-left: 3%;
  margin-top: 3%;
  margin-bottom: 5%;
  margin-right: 3%;
}

.StructureFields {
  padding-bottom: 10px;
}

.CenterContainer {
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 100px;
  min-width: 1000px;
}

.table_container {
  max-width: 750px;
  /* max-height: 500px; */
  margin: 0 auto;
  overflow: auto;
}

.table {
  width: 100%;
  border-spacing: 0;
}

caption {
  font-style: italic;
  font-size: 90%;
  margin-bottom: 10px;
}

.table th {
  background: #fff;
  padding: 8px 10px;
  border-bottom: 1px solid #1a1a1a;
  font-weight: bold;
  text-align: left;
}

.table th.up {
  background-image: url("./static/table/up_arrow.png");
}

.table th.down {
  background-image: url("./static/table/down_arrow.png");
}

.table th.default {
  background-image: url("./static/table/default.png");
}

th.up,
th.default,
th.down {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center right;
}

.table td {
  border-top: 1px solid #ddd;
  padding: 8px 20px;
}

.table tbody tr:first-child td {
  border-top: none;
}

.table tbody tr:nth-child(n) td {
  background: #eff0f0;
}

.table tbody tr:nth-child(2n) td {
  background: #fff;
}

.modal {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  padding: 10px 30px 10px 30px;
  position: fixed;
  background: white;
  width: 40%;
  height: 30%;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}